body {
    font-family: Arial;
    font-size: 20px;
    margin: auto;
    padding: 10px;
}

.quizHeader {
    display: flex;
    justify-content: space-between;
}

header h2 {
    font-size: 15px;
}

.start_screen {
    text-align: center
}

.start_screen h1 {
    font-size: 40px;
}

button {
    color: white;
    background-color: blueviolet;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

button:hover {
    cursor: pointer;
}
