/* styling for the body and background image */
body {
    font-family: Arial;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    background-image: url('https://i.giphy.com/media/j0HjChGV0J44KrrlGv/giphy.webp');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}

/* styling for the header elements */
.quizHeader {
    display: flex;
    justify-content: space-between;
}

header h2 {
    font-size: 20px;
    padding: 10px;
}

/* styling for start screen elements */
.start_screen {
    text-align: center;
    line-height: 150%;
}

.start_screen h1 {
    font-size: 40px;
}

/* styling for quiz screen */
.quiz_screen {
    text-align: center;
}

/* styling for highscores screen elements */
.highscores_screen {
    text-align: center;
    list-style-position: inside;
}

.highscores_screen ol{
    margin: 0;
    padding: 0 0 20px 0;
}

.highscores_screen ol li{
    margin: 0;
    padding: 0;
}

/* styling for the submission box */
#submission {
    margin: 30px;
    font-size: 30px;
}

/* styling for answer elements */
.answers {
    list-style-type: none;
}

#correctAnswer {
    color: green;
    font-size: 40px;
}

#incorrectAnswer {
    color: red;
    font-size: 40px;
}

ul {
    padding: 0;
}

/* styling for end screen elements */
.end_screen {
    text-align: center;
}

/* styling for button/clickable elements */
button {
    color: white;
    font-size: 25px;
    background-color: rgb(28, 25, 31);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(133, 133, 153);
    transition: 1s
}

#viewHighscores:hover {
    cursor: pointer;
    color: rgb(133, 133, 153);
    transition: 1s
}